In [25]:
import pandas as pd
import numpy as np

In [26]:
mp_file_path = '/Users/apple/Downloads/nfl/mediaperformance.csv'
nfl_file_path = '/Users/apple/Downloads/nfl/nfladverts.csv'

mp_data = pd.read_csv(mp_file_path)
nfl_data = pd.read_csv(nfl_file_path)

In [27]:
mp_data.head(5)

,date,nflweek,numweek,platform,market,audience,spend_usd,impressions,clicks,transactions,revenue_usd
0,8/8/2018,PRE 2,2,Google,DE,Game Pass,244.4,3832,1208,59,8965
1,8/8/2018,PRE 2,2,Google,DE,NFL.com,696.8,9219,628,6,931
2,8/8/2018,PRE 2,2,Google,ES,NFL.com,14.3,126,6,2,195
3,8/8/2018,PRE 2,2,Google,IT,Game Pass,40.3,768,94,3,625
4,8/8/2018,PRE 2,2,Google,ROE,Game Pass,70.2,2551,421,14,1834

In [28]:
nfl_data.head(10)

,transactionid,customerid,date,nflweek,platform,market,audience,NFL Game Pass Segment,gender,age,NFL Tickets,NFL Shop,NFL Fantasy,New To NFL Database,Email Opt-In,Favourite Team,SKU,Buy Type,Converted Free Trial,Revenue (USD)
0,NaN,223134,NaN,NaN,NaN,NaN,NaN,Acq,M,26-30,N,N,True,N,True,Texans,Pro,Buy Now,0,186
1,NaN,1151643,NaN,NaN,NaN,NaN,NaN,Acq,M,26-30,N,Y,False,N,False,Packers,Pro,Free Trial,1,186
2,NaN,1163463,NaN,NaN,NaN,NaN,NaN,Acq,U,41-50,N,N,False,Y,True,Packers,Pro,Free Trial,1,186
3,NaN,951791,NaN,NaN,NaN,NaN,NaN,Ret,U,26-30,N,Y,True,N,False,Rams,Pro,Free Trial,0,0
4,NaN,1164507,NaN,NaN,NaN,NaN,NaN,Acq,M,31-35,N,N,False,N,False,Steelers,Pro,Free Trial,0,0
5,NaN,1125773,NaN,NaN,NaN,NaN,NaN,Acq,U,36-40,N,N,False,N,False,Packers,Pro,Buy Now,0,0
6,NaN,1190083,NaN,NaN,NaN,NaN,NaN,Acq,M,26-30,N,Y,False,Y,False,Steelers,Pro,Free Trial,1,187
7,NaN,873905,NaN,NaN,NaN,NaN,NaN,Acq,M,26-30,N,N,True,N,True,Vikings,Pro,Free Trial,1,185
8,NaN,1197358,NaN,NaN,NaN,NaN,NaN,Acq,M,22-25,N,Y,True,Y,True,49ers,Pro,Buy Now,0,158
9,NaN,1138797,NaN,NaN,NaN,NaN,NaN,Acq,U,51-60,N,Y,False,Y,False,Dolphins,Pro,Buy Now,0,187

## 数据清洗

In [30]:
# 重新命名列

nfl_data.columns = ['transaction_id', 'customer_id', 'date', 'nflweek', 'platform', 'market',
       'audience', 'segment', 'gender', 'age_group', 'tickets',
       'shop', 'fantasy', 'new_to_database', 'email_opt_in',
       'favourite_team', 'sku', 'buy_type', 'converted_free_trial',
       'revenue_usd']

nfl_data['revenue_usd'].describe()
# mp_data.columns

count    69848.000000
mean        58.539686
std         80.126236
min          0.000000
25%          0.000000
50%         10.000000
75%        127.000000
max        288.000000
Name: revenue_usd, dtype: float64

### 重复值

In [31]:
mp_unique = mp_data.groupby(['date', 'nflweek', 'numweek', 'platform', 'market', 'audience']).size().reset_index(name='Freq')
mp_unique = mp_unique.sort_values(by=['Freq'], ascending=False)
print(mp_unique)

nfl_data.head()
nfl_unique = nfl_data.groupby(['transaction_id']).size().reset_index(name='Freq')
nfl_unique = nfl_unique.sort_values(by=['Freq'], ascending=False)
print(nfl_unique)
# data.drop_duplicates(subset ="columns Name", keep = False, inplace = True)

           date nflweek  numweek  platform   market    audience  Freq
0      1/1/2019  POST 1       23   Display       DE   Game Pass     1
3467  28/9/2018   REG 4        9   YouTube       FR     NFL.com     1
3445  28/9/2018   REG 4        9  Facebook       IT  Highlights     1
3444  28/9/2018   REG 4        9  Facebook       FR  Highlights     1
3443  28/9/2018   REG 4        9  Facebook       ES  Highlights     1
3442  28/9/2018   REG 4        9  Facebook       DE  Highlights     1
3441  28/9/2018   REG 4        9   Display       UK    Prospect     1
3440  28/9/2018   REG 4        9   Display       UK     NFL.com     1
3439  28/9/2018   REG 4        9   Display       UK   Game Pass     1
3438  28/9/2018   REG 4        9   Display       UK     Fantasy     1
3437  28/9/2018   REG 4        9   Display      ROE    Prospect     1
3436  28/9/2018   REG 4        9   Display      ROE     NFL.com     1
3435  28/9/2018   REG 4        9   Display      ROE   Game Pass     1
3434  28/9/2018   REG 4        9   Display      ROE     Fantasy     1
3433  28/9/2018   REG 4        9   Display  Nordics    Prospect     1
3432  28/9/2018   REG 4        9   Display  Nordics     Partner     1
3431  28/9/2018   REG 4        9   Display  Nordics     NFL.com     1
3430  28/9/2018   REG 4        9   Display  Nordics   Game Pass     1
3429  28/9/2018   REG 4        9   Display       IT   Game Pass     1
3446  28/9/2018   REG 4        9  Facebook      ROE  Highlights     1
3447  28/9/2018   REG 4        9  Facebook       UK   Game Pass     1
3448  28/9/2018   REG 4        9  Facebook       UK  Highlights     1
3458  28/9/2018   REG 4        9    Google      ROE     NFL.com     1
3465  28/9/2018   REG 4        9       O&O  Nordics     NFL.com     1
3464  28/9/2018   REG 4        9       O&O       FR     NFL.com     1
3463  28/9/2018   REG 4        9       O&O       ES     NFL.com     1
3462  28/9/2018   REG 4        9       O&O       DE     NFL.com     1
3461  28/9/2018   REG 4        9    Google       UK     NFL.com     1
3460  28/9/2018   REG 4        9    Google       UK  Highlights     1
3459  28/9/2018   REG 4        9    Google       UK   Game Pass     1
...         ...     ...      ...       ...      ...         ...   ...
1704  2/10/2018   REG 5       10   Display  Nordics     NFL.com     1
1714  2/10/2018   REG 5       10  Facebook  Nordics  Highlights     1
1703  2/10/2018   REG 5       10   Display  Nordics   Game Pass     1
1702  2/10/2018   REG 5       10   Display       IT   Game Pass     1
1701  2/10/2018   REG 5       10   Display       ES     Fantasy     1
1700  2/10/2018   REG 5       10   Display       DE     NFL.com     1
1699  2/10/2018   REG 5       10   Display       DE   Game Pass     1
1698   2/1/2019  POST 1       23       O&O      ROE     NFL.com     1
1697   2/1/2019  POST 1       23       O&O  Nordics     NFL.com     1
1713  2/10/2018   REG 5       10  Facebook       IT  Highlights     1
1715  2/10/2018   REG 5       10  Facebook      ROE  Highlights     1
1733  2/10/2018   REG 5       10       O&O       ES     NFL.com     1
1725  2/10/2018   REG 5       10    Google  Nordics     NFL.com     1
1732  2/10/2018   REG 5       10       O&O       DE     NFL.com     1
1731  2/10/2018   REG 5       10    Google       UK     NFL.com     1
1730  2/10/2018   REG 5       10    Google       UK  Highlights     1
1729  2/10/2018   REG 5       10    Google       UK   Game Pass     1
1728  2/10/2018   REG 5       10    Google      ROE     NFL.com     1
1727  2/10/2018   REG 5       10    Google      ROE  Highlights     1
1726  2/10/2018   REG 5       10    Google      ROE   Game Pass     1
1724  2/10/2018   REG 5       10    Google  Nordics   Game Pass     1
1716  2/10/2018   REG 5       10  Facebook       UK  Highlights     1
1723  2/10/2018   REG 5       10    Google       IT     NFL.com     1
1722  2/10/2018   REG 5       10    Google       IT   Game Pass     1
1721  2/10/2018   REG 5       10    Google       FR   Game Pass     1
1720  2/10/2018   REG 5       10    Google       ES     NFL.com     1
1719  2/10/2018   REG 5       10    Google       ES   Game Pass     1
1718  2/10/2018   REG 5       10    Google       DE     NFL.com     1
1717  2/10/2018   REG 5       10    Google       DE   Game Pass     1
5160   9/9/2018   REG 1        6   YouTube       UK     NFL.com     1

[5161 rows x 7 columns]
      transaction_id  Freq
0        A-S00126098     1
46553    a-s00435632     1
46559    a-s00435658     1
46558    a-s00435653     1
46557    a-s00435649     1
46556    a-s00435646     1
46555    a-s00435639     1
46554    a-s00435633     1
46552    a-s00435630     1
46646    a-s00435987     1
46551    a-s00435629     1
46550    a-s00435627     1
46549    a-s00435624     1
46548    a-s00435623     1
46547    a-s00435621     1
46546    a-s00435620     1
46560    a-s00435661     1
46561    a-s00435665     1
46562    a-s00435666     1
46563    a-s00435667     1
46564    a-s00435672     1
46565    a-s00435673     1
46566    a-s00435676     1
46567    a-s00435678     1
46568    a-s00435689     1
46569    a-s00435692     1
46570    a-s00435694     1
46571    a-s00435713     1
46572    a-s00435715     1
46573    a-s00435718     1
...              ...   ...
23259    a-s00349645     1
23260    a-s00349648     1
23261    a-s00349649     1
23262    a-s00349652     1
23263    a-s00349658     1
23264    a-s00349663     1
23265    a-s00349668     1
23266    a-s00349678     1
23267    a-s00349687     1
23268    a-s00349690     1
23269    a-s00349692     1
23270    a-s00349696     1
23271    a-s00349701     1
23273    a-s00349708     1
23288    a-s00349744     1
23274    a-s00349711     1
23275    a-s00349712     1
23276    a-s00349714     1
23277    a-s00349717     1
23278    a-s00349718     1
23279    a-s00349719     1
23280    a-s00349725     1
23281    a-s00349729     1
23282    a-s00349732     1
23283    a-s00349734     1
23284    a-s00349735     1
23285    a-s00349740     1
23286    a-s00349742     1
23287    a-s00349743     1
69833    a-s00543455     1

[69834 rows x 2 columns]

### 缺失值

In [32]:
mp_null_total = mp_data.isnull().sum(axis=0).sort_values(ascending=False)
mp_null_percent = (mp_data.isnull().sum()/len(mp_data.index)).sort_values(ascending=False).round(3)
mp_missing_data = pd.concat([mp_null_total, mp_null_percent], axis=1, keys=['Total', 'Percent'])

nfl_null_total = nfl_data.isnull().sum(axis=0).sort_values(ascending=False)
nfl_null_percent = (nfl_data.isnull().sum()/len(nfl_data.index)).sort_values(ascending=False).round(3)
nfl_missing_data = pd.concat([nfl_null_total, nfl_null_percent], axis=1, keys=['Total', 'Percent'])


# 去掉没有transaction_id的行
nfl_data = nfl_data.dropna(subset=['transaction_id'])

# 没有填喜好球队的编为‘No Team’
nfl_data['favourite_team'] = nfl_data['favourite_team'].fillna('No Team')

In [33]:
# 没填性别编为'U'
nfl_data['gender'] = nfl_data['gender'].fillna('U')

# 由于gender缺失太多，和其他列也没有存在明显的逻辑关系，尝试看有没有男女id差异，结果没有
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html
gender_predict = nfl_data[nfl_data.gender.notnull()]
gender_pivot = pd.pivot_table(gender_predict, values='customer_id', index=['gender'], aggfunc=np.mean)

# 按照逻辑填充buy_type
# nfl_data['buy_type'].unique()
nfl_data['buy_type'] = nfl_data.apply(
    lambda row: 
        'Buy Now' if row['sku'] =='Free' else 
            ('Buy Now' if (row['converted_free_trial'] == 0 and row['revenue_usd'] > 0) else 
                 ('Free Trial' if (row['converted_free_trial'] == 0 and row['revenue_usd'] == 0) or (row['converted_free_trial'] == 1 and row['revenue_usd'] > 0) else 
                      row['buy_type'])), axis=1)

# nfl_data.isnull().sum(axis=0).sort_values(ascending=False)

### 异常值

In [34]:
# binary都变成0&1，方便计算；并去掉异常值
# nfl_data['market'].unique()
nfl_data['tickets'] = np.where(nfl_data['tickets'] == 'N', 0, 1)
nfl_data['shop'] = np.where(nfl_data['shop'] == 'N', 0, 1)
nfl_data['fantasy'] = np.where(nfl_data['fantasy'] == False, 0, 1)
nfl_data['new_to_database'] = np.where(nfl_data['new_to_database'] == 'N', 0, 1)
nfl_data['email_opt_in'] = np.where(nfl_data['email_opt_in'] == 'False', 0, np.where(nfl_data['email_opt_in'] == '0', 0, 1))
nfl_data['buy_type'] = np.where(nfl_data['buy_type'] == 'Free Trial', 0, 1)                                   
nfl_data['favourite_team'] = np.where(nfl_data['favourite_team'] == 'NFL', 'No Team', nfl_data['favourite_team'])
nfl_data['favourite_team'] = np.where(nfl_data['favourite_team'] == 'No Team', 0, 1)

In [35]:
# 纠正sku、buy_type、converted_free_trial的逻辑错误
# https://stackoverflow.com/questions/36921951/truth-value-of-a-series-is-ambiguous-use-a-empty-a-bool-a-item-a-any-o
# https://discuss.analyticsvidhya.com/t/how-to-resolve-python-error-cannot-compare-a-dtyped-int64-array-with-a-scalar-of-type-bool/73065
nfl_data['sku'] = np.where((nfl_data['revenue_usd'] == 0) & (nfl_data['sku'] != 'Pro'), 'Free', nfl_data['sku'])
nfl_data['sku'] = np.where((nfl_data['revenue_usd'] > 0) & (nfl_data['sku'] == 'Free'), 'Pro', nfl_data['sku'])
nfl_data['buy_type'] = np.where((nfl_data['sku'] == 'Pro') & (nfl_data['revenue_usd'] == 0), 0, nfl_data['buy_type'])
nfl_data['converted_free_trial'] = np.where((nfl_data['sku'] == 'Pro') & (nfl_data['buy_type'] == 0) & (nfl_data['revenue_usd'] > 0), 1, nfl_data['converted_free_trial'])
nfl_data['converted_free_trial'] = np.where((nfl_data['sku'] == 'Pro') & (nfl_data['buy_type'] == 1) & (nfl_data['revenue_usd'] > 0), 0, nfl_data['converted_free_trial'])

In [36]:
nfl_data.head()

,transaction_id,customer_id,date,nflweek,platform,market,audience,segment,gender,age_group,tickets,shop,fantasy,new_to_database,email_opt_in,favourite_team,sku,buy_type,converted_free_trial,revenue_usd
14,a-s00338989,426662,8/8/2018,PRE 2,Google,UK,Game Pass,Acq,U,26-30,0,0,1,0,1,1,Pro,1,0,179
15,a-s00339056,135874,8/8/2018,PRE 2,Google,UK,Game Pass,Acq,M,31-35,0,0,1,0,0,1,Pro,0,0,0
16,a-s00339109,803118,8/8/2018,PRE 2,Google,UK,Game Pass,Acq,M,22-25,0,0,1,0,0,1,Essential,1,0,52
17,a-s00339192,525897,8/8/2018,PRE 2,Google,UK,Game Pass,Ret,U,22-25,0,0,1,0,1,1,Pro,1,0,179
18,a-s00339222,1002466,8/8/2018,PRE 2,Google,DE,Game Pass,Acq,M,31-35,0,0,1,0,0,1,Pro,1,0,182

In [37]:
mp_data.to_excel(r'/Users/apple/Downloads/nfl/mp_data.xlsx', index=True)

In [38]:
nfl_data.to_csv(r'/Users/apple/Downloads/nfl/nfl_data.csv', index=True)